.menu{
    background-color: #f44336;
    width: 250px;
    height: 100%;
}

.send{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.buttonSend{
    background-color: white;
}

.texto{
    float: left;
    margin-top: 11px;
    margin-left: 10px;    
}

.texto2{
    float: left;
    margin-top: 11Px;
    margin-right: 50px;
}

.texto3{
    float: right;
    margin-top: 11Px;
    margin-left: 50px;
    margin-right: 20px;
}

.label{
    float: left;
    margin-left: 10px;
}

.ajusteHeader{
    margin-top: 40px;
}

.campoTexto{
    background-color: rgb(255, 255, 255);
    border-color: black;
    width: 330px;
    border-width: 100px;
    border-radius: 20px;
    height: 30px;
    padding: 10px;
}

.lista{
    margin-left: 50px;
    margin-top: 100px;
}

.boxChat{
    background-color: #f44336;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
}

.boxUser{
    background-color: cyan;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
}